


body{

  background-color: black;
  
}


.app-container {
  font-family: Arial, sans-serif;
  
}


.main-layout {
  display: flex;
  height: calc(100vh - 60px);
  
  
}
.cart {
  margin-left: auto;
  margin-right: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: bold;
  

  cursor: pointer;
}
.cart-icon {
  transition: color 0.3s ease, transform 0.2s ease;
}

.cart.active {
  color: rgba(225, 69, 8, 0.946);
}


