.footer {
  width: 100%;
  height: 120px;
  padding: 10px 0;
  background: #0d0d0d;
  color: #fff;
  text-align: center;
  border-top: 1px solid #222;
  margin-top: 200px;
  padding-left: 600px;
 
}

.footer-content {
  display: flex;
  flex-direction:row;
  align-items: center;
  gap: 30px;
}

/* Icons container */
.social-icons {
  display: flex;
  gap: 20px;
  
}

/* Button reset */
.icon-btn {
  background: transparent;
  border: 1px solid #333;
 
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 1.4rem;
}

/* Hover effect */
.icon-btn:hover {
  background: #44a5cb;
  border-color: #44a5cb;
  transform: translateY(-3px);
}