

.intro-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.intro-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.enter-button {
  z-index: 2;
  padding: 12px 45px;
  font-size: 30px;
  font-family: impact;
  background-color: rgba(255, 255, 255, 0.2);
  color: rgba(17, 12, 48, 0.86);
  border: 1px solid rgba(146, 108, 83, 0.5);
  border-radius: 50px;
  margin-left: 60px;
  
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  position: absolute;
  top: 200px;  
  left: 100px;     
  transform: translateX(-20%);

  /* Fade-in animation */
  opacity: 0;
  animation: fadeInButton 5s ease forwards;
}

@keyframes fadeInButton {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.enter-button:hover {
  background-color: rgba(233, 200, 213, 0.701);
  border:none;
  color: rgba(79, 78, 79, 0.627);
  box-shadow: 3px 3px 10px black;
 transform: translateX(-20%) scale(1.05);
 transition: all 0.3s ease ;
 box-shadow: 3px 5px 10px rgba(120, 102, 198, 0.3) ;
 
}
