.item-card {
  width: 360px;
  height: 320px;
  background: #100f0f15;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  margin: 10px auto;
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.item-card:hover {
  transform: translateY(-8px) scale(1.03); /* 🔥 smooth lift + slight grow */
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.image-wrapper {
  width: 360px;
  height: 200px; /* 🔥 gives room for text */
  overflow: hidden;
}

.item-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  display: block;

   transition: transform 0.4s ease;
}

.item-card:hover .item-image {
  transform: scale(1.1); /* 🔥 zoom inside frame */
}

.item-info {
  padding: 12px;
}

.item-title {
  font-size: 16px;
  margin: 0 0 6px 0;
}

.item-price {
  font-size: 14px;
  color: #ccc;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

/* 🔥 MODAL BOX */
.modal-content {
  position: relative;
  background: #111;
  color: #fff;

  padding: 20px;
  border-radius: 12px;

  width: 90%;
  max-width: 500px;
  text-align: center;
}

/* 🔥 CLOSE BUTTON */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;

  background: none;
  border: none;
  color: #f20707;

  font-size: 30px;
  cursor: pointer;
}

/* 🔥 MODAL IMAGE */
.modal-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;

  border-radius: 8px;
  margin-bottom: 10px;
}




.add-btn {
  
  background-color: rgba(38, 152, 190, 0.667);
  color: #292a2c;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease;
  display: block;
  margin: -10px 10px;
  
  
}
.add-btn:hover {
  background: rgb(53, 40, 101);
  transform: translateY(-2px);
  color: white;
}
.add-btn:active {
  transform: scale(0.97);
}