.jeans-page {
  width:600px;
  height: 720px;
  margin-top: -70px;

  background-image: url("/assets/bgjeans.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.jeans-container {
  position: relative;

  width: 500px;   
  height: 720px;  
  padding-top:0px;

  margin-left: 60%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.jeans-image {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  border-radius: 0px;
}
.jeans-price {
  font-size: 30px;
  font-family: impact;
  color: rgba(193, 204, 215, 0.596);
  
      
  position: absolute;
  bottom: -10px;
  left: 40px;
  
}


.jeans-title {
  font-size: 30px;
  font-family: impact;
  color: rgba(70, 142, 194, 0.811);
  
      
  position: absolute;
  bottom: 40px;
  left: 40px;
  
}



/* Buttons */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: rgb(212, 19, 19);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0%;
}

.nav-btn.left {
  left: 10px;
}

.nav-btn.right {
  right: 10px;
}

.nav-btn:hover {
  background: rgba(0, 0, 0, 0.8);
}



.add-cart-btn {
    
  position: absolute;
  bottom: 15px;
  right: 10px;

  background: rgb(207, 57, 57);
  font-size: 15px;
  color: rgb(249, 244, 244);
  padding: 6px 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  
}

.add-cart-btn:hover {
  background: #333;
  color: red;
}