.main-display {
  width: 80%;
  display: grid;

  grid-template-columns: repeat(auto-fit, 360px); /* 🔥 fixed */
  justify-content: start; /* or center */

  gap: 20px;
  padding-top: 80px;
  padding-left: 100px;


  background: url("/assets/bgfog1.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}