
.makeup-wrapper {
  grid-column: 1 / -1;   /* 🔥 take full width */
  width: 100%;
  background-color: rgba(23, 41, 83, 0.341);
  padding: 20px;
}

.makeup-card {
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.makeup-card:hover {
  transform: translateY(-5px);
}

.makeup-img {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

/* KEY FIX */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e9d19033;
}

.price {
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.add-btnee {
  border-radius: 15px;
  padding: 6px auto;
  margin-top: auto;
  color: rgba(14, 58, 180, 0.901);
  background-color: rgba(113, 200, 226, 0.978);
  opacity: 0.5;
  box-shadow: 4px 4px 20px rgb(9, 44, 199);
 border: none;
}
.add-btnee:hover {
  border-radius: 15px;
  padding: 6px auto;
  margin-top: auto;
  color: white;
  background-color: darkblue;
  
}




