.navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: url("/assets/dita.jpg");
  color: #fff;
  z-index: 1000;
  padding: 10px 20px;

}


.navbar ul {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px; /* controls spacing */
  margin: 0;
  padding: 80px;
}

.navbar li {
  cursor: pointer;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  transition: color 0.3s ease;
  color: rgb(212, 210, 145);
  font-weight: bold;
}


.navbar li:hover {
  color: #50a1b8;
}

/* Underline effect */
.navbar li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}

.navbar li:hover::after {
  width: 100%;
}
.navbar .cart-icon.active {
  color: red;
}

.navbar .cart-text .cart-icon.active {
  color: red;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
}

.navbarsticky {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: black;
  width: 100%;
  overflow: visible;
}

